img {
  width: 100%;
}

.phone-screenshot > img {
  box-shadow: 0px 0px 10px -2px;
  background: #fff;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .phone-screenshot {
    box-sizing: content-box;
    position: relative;
    width: 320px;
    height: 480px;
    border: 20px solid black;
    border-radius: 45px;
    padding: 80px 0px;
    background: #000;
    margin-left: 15px;

    transform: scale(0.7);
    transform-origin: 0 0;
    margin-right: -96px;
    margin-bottom: -124px; /* -144 + 40 */
  }
  .phone-screenshot::before {
    content: "";
    background: #333;
    border: 2px solid #444;
    width: 50px;
    height: 10px;
    position: absolute;
    top: 25px;
    border-radius: 5px;
    left: calc(50% - 25px);
  }

  .phone-screenshot::after {
    content: "";
    background: #111;
    border: 2px solid #333;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    border-radius: 50%;
    left: calc(50% - 25px);
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .phone-screenshot {
    transform: scale(1);
    transform-origin: 0 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

.author > img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
}

a.icon::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-bottom: 3px;
}

a.icon.github::before {
  background-image: url('../image/icon/github.svg');
}

a.icon.mail::before {
  background-image: url('../image/icon/mail.svg');
}
