img {
  width: 100%;
}

.device {
  transform-origin: 0 0;
  transform: scale(0.54);
}
.device-container {
  width: 225px;
  height: 470px;
  margin: 0 auto;
  overflow: hidden;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .device { transform: scale(0.7) }
  .device-container {
    width: 300px;
    height: 610px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .device {
    transform: scale(1);
  }
  .device-container {
    width: auto;
    height: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

.author > img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
}

a.icon::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-bottom: 3px;
}

a.icon.github::before {
  background-image: url('../image/icon/github.svg');
}

a.icon.mail::before {
  background-image: url('../image/icon/mail.svg');
}
